<aside>

    <div class="card">
        <div class="card-header">
            Hello
        </div>
        <div class="card-block">
            <h4 class="card-title">Special title treatment</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go</a>
        </div>
    </div>

    <br>

    <div class="card">
        <div class="card-block">
            <div class="card-text">{% include share.html %}</div>
        </div>
    </div>

</aside>