---
layout: default
---

<div class="card">
    <!--<div class="card-header">-->
        <!--{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}-->
    <!--</div>-->
    <div class="card-block">
        <!--<h4 class="card-title">{{ page.title }}</h4>-->
        <p class="card-text">{{ content }}</p>
    </div>
    <!--<div class="card-footer text-muted">-->
        <!--{% include share.html %}-->
    <!--</div>-->
</div>